.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
}

.logo {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5em;
    color: var(--very-dark-blue);
}

.menu-icons {   
    cursor: pointer;
}

.menu-list {
    display: block;
    position: absolute;
    top: 5.5%;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: var(--off-white);
    padding: 8em 1.5em;
    transform: translateX(110%);
    transition: .5s;
}

.menu-list-active {
    display: block;
    position: absolute;
    top: 5.5%;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: var(--off-white);
    padding: 8em 1.5em;
    transform: translateX(0);
    transition: .5s;
}

.list-itens {
    padding: 1em 0;
}

.list-links {
    text-decoration: none;
    color: var(--very-dark-blue);
    font-weight: 500;
}