.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 0 2em;
}

.menu-icons { 
    display: flex;  
    cursor: pointer;
}

.menu-list {
    display: block;
    position: absolute;
    top: 5.5%;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: var(--off-white);
    padding: 8em 1.5em;
    transform: translateX(110%);
    transition: .5s;
}

.menu-list-active {
    display: block;
    position: absolute;
    top: 5.5%;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: var(--off-white);
    padding: 8em 1.5em;
    transform: translateX(0);
    transition: .5s;
}

.list-itens {
    padding: 1em 0;
}

.list-links {
    text-decoration: none;
    color: var(--very-dark-blue);
    font-weight: 500;
}

@media (min-width: 700px) {
    .header {
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu-icons {
        display: none;
    }

    .menu-list-active {
        display: none;
    }

    .menu-list {
        position: relative;
        display: flex;
        gap: 2em;
        transform: translate(0);
        transition: none;
        padding: 0;
    }
}