.section-one {
   text-align: center;
   margin: 0 2em;
}

.section-div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.div-txt h1 {
    font-size: 3em;
    color: var(--very-dark-blue);
}

.div-txt p {
    font-size: 1.5em;
    color: var(--dark-grayish-blue);
}

.div-btn button {
    padding: 1em 3em;
    background-color: var(--soft-red);
    border: transparent;
    text-transform: uppercase;
    color: var(--off-white);
    letter-spacing: 6px;
    font-weight: 700;
}

