.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.section-one-txt {
    width: 65vh;
    text-align: start;
}

.sectio-one-btn {
    display: flex;
    justify-content: center;
}